@model WebApplication1.ViewModels.RegisterViewModel

<h2 class="register_title">Регистрация нового пользователя</h2>
<form class="register_form" method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <input class="register_email" placeholder="Email" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <input class="register_year" placeholder="Сколько тебе лет?" asp-for="Year" />
        <span asp-validation-for="Year"></span>
    </div>
    <div>
        <input class="register_pass" placeholder="Введи пароль" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input class="registr_repass" placeholder="Повтори пароль" asp-for="PasswordConfirm" />
    </div>
    <div>
        <input class="register_btn" type="submit" value="Регистрация" />
    </div>
</form>
