
<section class="main_text">
    <h1 class="main_text-tittle">100 Hotels</h1>
    <p class="main_text-subtitle">Nowadays there are plenty of different hotels. The demand for them is growing rapidly. More and more people prefer to stay at the hotels during their holidays. Some stay there when they have business trips. Hotels normally try to provide service of outstanding quality and satisfy all the guests’ need, so as to recruit regular clients.</p>
</section>


<section class="booking_container">
    <input type="email" placeholder="Email" class="container_email" />
    <input type="date" placeholder="Введите дату бронирования" class="container_date" />
    <button type="submit" class="container_btn">Отправить</button>
</section>