@import url(header.css);
@import url(main.css);
@import url(footer.css);

body{
    display: grid;
    justify-content: center;
    background-color: #f1f4f7;
}

.main{
    width: 1100px;
    display: grid;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 2px rgba(118, 117, 144, 0.12);
    border-radius: 20px;
}

.main_text {
    width: 1000px;
    display: grid;
    justify-content: center;
}

.main_text-tittle {
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto slab', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.main_text-subtitle {
    width: 800px;
    font-family: 'Roboto slab', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
}

.main_cards {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

.main_cards-container {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    gap: 30px;
}

.cards_container-item {
    width: 360px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 20px;
}

.container_item-img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container_item-text {
    width: 350px;
    margin-top: 20px;
    font-family: 'Roboto slab', sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.container_item-btns {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    gap: 10px;
}

.item_btns-view,
.item_btns-edit {
    cursor: pointer;
    text-decoration:none;
    margin-bottom: 10px;
    font-family: 'Roboto slab', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 10px;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 20px;
}

    .item_btns-view:hover,
    .item_btns-edit:hover {
        background-color: black;
        color: white;
    }

.footer {
    display: grid;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    background-color: #fff;
    box-shadow: 0px 2px 2px rgba(118, 117, 144, 0.12);
    border-radius: 20px;
}


.footet_logo-pos {
    width: 5em;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

.footer_list {
    padding: 30px;
    border-radius: 20px;
}

.footer_list-title {
    width: 155px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto',sans-serif,serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 2px dashed rgba(156,199,158,1);
}

.nav_ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

    .nav_ul a {
        font-family: 'Roboto',sans-serif,serif;
        text-align: center;
        font-style: normal;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: black;
    }

        .nav_ul a:hover {
            color: #fcba30;
            border-bottom: 2px dashed #fcba30;
        }

.footer_newsletter {
    background: #DCDCDC;
    display: grid;
    padding: 30px 20px;
    margin-left: auto;
    margin-right: 300px;
    border-radius: 20px;
    text-align: center;
}

.footer_newsletter-title {
    width: 85px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto',sans-serif,serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 2px dashed rgba(156,199,158,1);
}

.footer_newsletter-subtitle {
    margin-top: 15px;
    font-family: 'Roboto',sans-serif,serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
}

.footer_newsletter-form {
    background: #DCDCDC;
    padding-top: 10px;
    width: 500px;
    display: flex;
    padding-left: 50px;
    padding-bottom: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.form_input {
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    outline: 0 !important;
    font-family: 'Roboto',sans-serif,serif;
    font-style: normal;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 20px;
}

.form_btn {
    cursor: pointer;
    outline: 0;
    border: none;
    background: none;
}

.footer_social-copirate {
    font-family: 'Roboto',sans-serif,serif;
    font-style: normal;
    font-size: 16px;
}

.footer_social-container {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    justify-content: center;
}

    .footer_social-container img {
        cursor: pointer;
    }


.register_form {
    display:grid;
    gap: 20px;
    justify-content:center;
}

.register_title {
    font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 600;
}

.register_email,
.register_year,
.register_pass,
.registr_repass {
    outline: 0 !important;
    padding: 0.375rem 0.75rem;
    width: 300px;
    font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    background: none;
    background-clip: padding-box;
    border: 1px solid black;
    border-radius: 20px;
}

.register_btn {
    cursor: pointer;
    outline: 0 !important;
    margin-left: 90px;
    padding: 5px 15px;
    background: none;
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

    .register_btn:hover {
        color: white;
        background: black;
    }

.login {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


.login_email,
.login_pass {
    outline: 0 !important;
    padding: 0.375rem 0.75rem;
    width: 300px;
    font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    background: none;
    background-clip: padding-box;
    border: 1px solid black;
    border-radius: 20px;
}

.login_container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.login_btn {
    cursor: pointer;
    text-decoration: none;
    outline: 0 !important;
    padding: 5px 10px;
    background: none;
    border: 1px solid black;
    border-radius: 20px;
    color: var(--Black);
    font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.login_title {
    font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 600;
    text-align:center;
}

.booking_container {
    display: grid;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.container_email,
.container_date {
    outline: 0 !important;
    padding: 0.375rem 0.75rem;
    width: 300px;
    font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    background: none;
    background-clip: padding-box;
    border: 1px solid black;
    border-radius: 20px;
}

.container_btn {
    cursor: pointer;
    text-decoration: none;
    outline: 0 !important;
    text-align:center;
    padding: 5px 10px;
    background: none;
    border: 1px solid black;
    border-radius: 20px;
    color: var(--Black);
    font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

    .container_btn:hover {
        color:white;
        background: black;
    }